.index-background {
  background-image: url("../images/brad-smith-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-background {
  background-image: url("../images/brad-smith-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 3%;
}

.headshot {
  border-radius: 50%;
}

a.button {
  background-color: #556677;
  border-radius: 10px;
  color: white;
}

h1,
h2,
h3,
h4 {
  color: white;
}

#gigs {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#gigs td,
#gigs th {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 8px;
}

#gigs tr:nth-child(even) {
  background-color: #f2f2f2;
}

#gigs tr:hover {
  background-color: #ddd;
}

table {
  border-radius: 10px 10px 0 0;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: none;
  /* color: white; */
  /* width: auto; */
}

td {
  border: 1px solid rgb(254, 252, 252);
  padding: 12px;
  margin: 0 12px;
}

th.thead {
  color: white;
}

.cancelled {
  color: red;
  font-size: large;
}

a.title {
  color: white;
  display: inline;
}

h3.title {
  color: white;
  display: inline;
}

h4.subtitle {
  color: white;
  display: inline;
  display: block;
}

em.subtitle {
  color: white;
  font-size: large;
}

.lessons-image {
  border-radius: 50%;
}

.lessons-text {
  color: white;
}

.white {
  color: white;
}

.index-body {
  height: 100vh;
}

.copyright {
  margin: auto;
}

/* .gray-background {
  background-color: rgb(129, 126, 126);
} */
