.index-background {
  background-image: url("../images/brad-smith-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-background {
  background-image: url("../images/brad-smith-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 3%;
}

.headshot {
  border-radius: 12px;
}

a.button {
  background-color: #556677;
  border-radius: 10px;
  color: white;
}

a.button.calendar-button {
  background-color: #f63710;
  border-radius: 10px;
  color: white;
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
.title {
  color: white;
}

#gigs {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#gigs td,
#gigs th {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 8px;
}

#gigs tr:nth-child(even) {
  background-color: #f2f2f2;
}

#gigs tr:hover {
  background-color: #ddd;
}

table {
  border-radius: 10px 10px 0 0;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: none;
}

.td {
  border: 0.5px solid rgb(254, 252, 252);
  padding: 4px;
  /* margin: 0 12px; */
}

th.thead {
  color: white;
  padding: 4px;
}

.cancelled {
  color: red;
  font-size: large;
}

a.title {
  color: white;
  display: inline;
}

h3.title {
  color: white;
  display: inline;
}

h4.subtitle {
  color: white;
  display: inline;
  display: block;
}

em.subtitle {
  color: white;
  font-size: large;
}

.lessons-image {
  border-radius: 50%;
}

.lessons-text {
  color: white;
}

.white {
  color: white;
}

.index-body {
  height: 100vh;
}

.copyright {
  margin: auto;
}

/* .gray-background {
  background-color: rgb(129, 126, 126);
} */

.piano-keys {
  font-size: xlarge;
}

#navbar {
  overflow: hidden;
  /* background-color: #333; */
}

#navbar a {
  border-radius: 7px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-left: 8px;
  padding-bottom: 12px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
